@{
    ViewData["Title"] = "SignIn";
}
@model SignInViewModel
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Sign In</h2>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div> 

       @* Controller ve Action değişmeyecekse aşağıdaki gibi yazabilirsin. Değişirse değişenleri ekle! Bestpractice'de bu senaryoda silmek daha iyi.'
        <form method="post"></form>*@

       
        <form asp-controller="Home" asp-action="SignIn" asp-route-returnurl="@Context.Request.Query["returnUrl"]" method="post">
            <div class="mb-3">
                <label for="EmailAddress" class="form-label" asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" class="form-control">
                <span class="text-danger" asp-validation-for="EmailAddress"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" asp-for="RememberMe" for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-outline-secondary btn-sm float-end" asp-controller="Home" asp-action="ForgotPassword">Forgot Password</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>