
@{
    ViewData["Title"] = "AddRole";
}
@model AddRoleViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Add Role</h2>
        <form asp-action="AddRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        <div class="mt-3">
            <a asp-action="Index">Back to Role List</a>
        </div>
   
    </div>
  
</div>


@section Scripts { @*Client tarafta validasyon yapmak için*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
