
@{
    ViewData["Title"] = "ChangePassword";
}

@model ChangePasswordViewModel
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Change Password</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="Member" asp-action="ChangePassword" method="post">
      
            <div class="row mb-3">
                <label for="OldPassword" class="col-md-4 col-form-label" asp-for="OldPassword"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="OldPassword" class="form-control offset-1">
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>
            </div>
             <div class="row mb-3">
                <label for="NewPassword" class="col-md-4 col-form-label" asp-for="NewPassword"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="NewPassword" class="form-control offset-1">
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="NewPasswordConfirmation" class="col-md-4 col-form-label" asp-for="NewPasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="NewPasswordConfirm" class="form-control offset-1">
                    <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </div>
        </form>
    </div>
</div>